body {
    font-family: sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

header, main {
    max-width: 1000px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
}

h1, h2, h3 {
    color: #333;
}

audio, video {
    width: 100%;
    margin-top: 20px;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center; /* opcional si también quieres centrar verticalmente */
}

img {
    width: 400px;
    border-radius: 10px;
}